*{
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: rgb(0, 0, 0);
}

/* nav bar */
.logo{
    color:white;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;
}
nav{
    /* background-color: rgb(94, 47, 223); */
    display: flex;
}
nav ul{
    position: absolute;
    /* background-color: rgb(128, 194, 28); */
    right: 4rem;
}
nav ul li{
    color: rgb(227, 227, 227);
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
    justify-content: space-between;
    gap: 60rem;
    font-weight: 900;
}

.k7l{
    color: black;
}
#gg{
    color: #dea412;
}
.gl{
    background: linear-gradient(135deg, #CAB273 60%, rgb(225, 190, 32));
}
.navbar-conatiner-burger{
    display: none;

}
.bar{
    height:3px;
    width:100%;
    background-color: white;
    border-radius: 33px;
}
.toggle{
    position: absolute;
    top:5%;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    width: 30px;
    height: 21px;
   
}
@media (max-width: 900px){
    .navbar-conatiner{
        display: none;
    }
    
     .navbar-conatiner-burger{
        display: flex;
        justify-content: center;
        align-items: center;
      
     
     }
     .nav-desktop{
        display: none;
     }
     .navlink{
        /* padding: 2rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 200px;
        position: fixed;
        top: 0;
        transform: scale(0);
        right: 0;
        opacity: 0;
        background-color:#E0BD63;
        z-index: 1;
        transition: all 0.2s ease-in-out;
     }
     .show{
        opacity: 1;
        top: 13%;
        transform: scale(1);
     }
     nav ul li {
         line-height: 3rem;
        margin: 22px 50px;
        display: block;
     }
     
}
/* nav bar \*/

/* index page */
.hl{
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}
.des{
    /* background-color: blueviolet; */
    background-image: url(../assets/imgs/nn.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 13rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;
}
.bottons{
    /* background-color: rgb(212, 145, 193); */
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: -150px;
    padding: 30px 0px;
}
.tswira{
    display: flex;
    width: 100%;
}
#ex{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}
#sg{
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}
.aun{
    background-color: #82D1E2;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}
.a{
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}
.aun2{
    background-color: #EC3E56;
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.bt{
    border: 2px solid white;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-top: 1rem;
    
}
/* index page \*/

/* catalogue page \*/
.hlcat{
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 50px;

}
.wrp{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}
.wrp p{
    color: rgb(167, 157, 157);
}
.pictext{
    color: white;
}
/* .str{
    display: flex;
    justify-content: center;
     text-align: center;
    padding: 3rem;
    gap: 3rem;
}*/
.wrapper{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}
.wrap{
    color: white;
    padding: 1.5rem;
}
/* .testin{
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
    border-bottom: 3px solid white;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
span{
    font-size: smaller;
    color: red;
} */
/* catalogue page */

/* sign page */
.ts{
    display: flex;
    align-items: center;
}

.divided{
    background: linear-gradient(
    to right,
    black 0%,
    black 50%,
    white 50%,
    white 100%
  );
  padding: 8rem 0;
  margin-bottom: 4rem;
}
@media screen and (max-width:900px) {
    .toggle{
        display: flex;
      
    }
    .ts{
        display: none;
    }
    .divided{
        background: none;
        background-color: black;
        padding: 8rem 0;
        margin-bottom: 4rem;
    }
}
.wrps{
    box-shadow: 1px 4px 4px;
    color: black;
    background-color:rgb(255, 243, 222);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    border-radius: 2rem;
}
.inf{
    display: flex;
    flex-direction: column;
}
.inf input{
    margin: 1rem;
    border-radius: 10px;
    padding: .5rem;
    border-color: #CAB273;
}
.inf #kkk{
    padding: .5rem;
    background-color: #CAB273;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 10px;
}

.inf #spn{
    color: black;
}
.ll{
    display: flex;
    width: 50%;
    height: 50%;
    background-color: black;
}
.sgs input{
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #CAB273;
}
::placeholder{
    color: #CAB273;
}
.wh{
    background-color: white;
}
.fq{
    margin-top: 15rem;
    margin-left:  10% ;
    font-size: 2rem;
}
.faq{
    display: flex;
    flex-wrap: wrap;
}
.fqq{
    margin-left:  10% ;
    padding: 2rem;
    font-size: 1.5rem;
}
.fqq p{
    margin-left:  10%;
    color: grey;
    text-decoration: underline;
    font-size: 1em;

}
@media (max-width: 900px){
    .fqq p{
        font-size: 8px;
    }
    .fqq{
        font-size: 12px; 
    }
    .fq{
        font-size: 1.5rem;
    }
}
.nb{
    background-color: #CAB273;
    width: 30%;
    border-radius: 0 4px 4px 0;
}
/* sign page */

/* footer */
footer{
    margin-top: 4rem;
    color: white;
    text-align: center;
    bottom: 0;
}
/* footer */